:root {
  --main-color: #fb6d48;
  --primary: #fcac6ab0;
  --black: #141414;
  --white: #f2f2f2;
  --light-black: #666;
}

* {
  box-sizing: border-box;
}

hr {
  border: 1px solid var(--light-black);
  margin: 10px 20%;
}

.review .submitBtn {
  margin-bottom: 20px;
}
.review .input-group-text {
  color: var(--main-color);
  font-size: 2rem;
  padding: 10px 20px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review .donvi {
  width: 50px;
}

.review .height,
.weight {
  padding: 0%;
}

.review .main {
  padding-top: 2%;
}

.message {
  padding: 0%;
}

.review .age {
  padding: 0%;
  padding-right: 50px;
}

.review .form-control {
  text-align: center;
  font-size: 2rem;
  color: var(--light-black);
}

.review .row {
  background: none;
}

.review {
  padding: 0%;
  height: 100%;
  background: url(images/background4.png) no-repeat;
  background-size: cover;
}

.review .row {
  height: 100%;
}

.radio-button-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 15px;
  color: #f2f2f2;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.radio-button__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s ease;
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  background-color: var(--main-color);
  border-color: transparent;
  transform: scale(0.8);
  box-shadow: 0 0 20px var(--primary);
}

.radio-button__input:checked + .radio-button__label {
  color: var(--main-color);
}

.radio-button__label:hover .radio-button__custom {
  transform: scale(1.2);
  border-color: var(--main-color);
  box-shadow: 0 0 20px var(--primary);
}

.hidden {
  display: none;
}

/* calo */
.calo .search-box {
  background: var(--primary);
  border-radius: 5px;
  padding: 0%;
}

.calo .container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.calo input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  font-size: 18px;
  color: var(--light-black);
  width: 100%;
}

.calo .icon {
  font-size: 25px;
  color: var(--light-black);
}

.calo .mainContainer {
  background-color: var(--white);
  padding: 50px;
  border-radius: 15px;
}

.calo ::placeholder {
  color: var(--light-black);
}

.result-box ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}

.result-box ul li {
  list-style: none;
  font-size: 18px;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
  color: var(--light-black);
}

.result-box ul li:hover {
  background-color: var(--primary);
}

.result-box {
  max-height: 200px;
  overflow-y: scroll;
}

.calo .heads {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 15rem;
}
.calo .donvi {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.calo .material {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
}

.calo .h1-container {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
}
.calo .fi {
  margin-top: 40px;
}

.calo .se {
  margin: 20px 0px;
}

.calo .hiddenCalo {
  opacity: 0;
}
